
@{
    ViewBag.Title = "EnquiryDetails";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@model veggiesapp.Models.enquiry

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Franchise Management</h2>
            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="breadcrumb-link">Franchise Management</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Franchise Enquiry Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->


<div class="row">
    <!-- ============================================================== -->
    <!-- basic table  -->
    <!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header" style="background-color:#71748d;color:white">Franchise Enquiry Details</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row form-group">
                                            <div class="col-lg-2"><strong>First Name :</strong></div>
                                            <div class="col-lg-10">
                                                @Html.DisplayFor(model => model.fname)
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-lg-2"><strong>Last Name :</strong></div>
                                            <div class="col-lg-10">
                                                @Html.DisplayFor(model => model.lname)
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-lg-2"><strong>Contact :</strong></div>
                                            <div class="col-lg-10">
                                                @Html.DisplayFor(model => model.phone)
                                            </div>
                                        </div>
                                        <div class=" row form-group">
                                            <div class="col-lg-2"><strong>Email :</strong></div>
                                            <div class="col-lg-10">
                                                @Html.DisplayFor(model => model.email)
                                            </div>
                                        </div>
                                        <div class="row form-group" id="message" runat="server" visible="false">
                                            <div class="col-lg-2"><strong>City :</strong></div>
                                            <div class="col-lg-10">
                                                @Html.DisplayFor(model => model.city)
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-lg-2"><strong>Country : </strong></div>
                                            <div class="col-lg-10">
                                                @Html.DisplayFor(model => model.country)
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-lg-2"><strong>Message : </strong></div>
                                            <div class="col-lg-10">
                                                @Html.DisplayFor(model => model.message)
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-lg-2"><strong>Date : </strong></div>
                                            <div class="col-lg-10">
                                                @Html.DisplayFor(model => model.addeddate)
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end basic table  -->
    <!-- ============================================================== -->
</div>
