
@{
    ViewBag.Title = "ListCustomers";
    Layout = "~/Views/Shared/MyLayout  dealer.cshtml";
}

@model List<veggiesapp.Models.CustomerWalletjoin>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Product Management</h2>
            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Product Management</a></li>
                        <li class="breadcrumb-item active" aria-current="page">View Products</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header" style="background-color:#71748d;color:white">Products</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered first">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Wallet</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var custwlt in Model)
                            {
                                <tr>
                                    <td>@custwlt.objcust.Name</td>
                                    <td>@custwlt.objcust.Email</td>
                                    <td>@custwlt.objcust.Phone</td>
                                    <td>&#x20B9; @custwlt.objwlt.amount  &nbsp;<a href="@Url.Action("adddlramount","Wallet",new { id = custwlt.objcust.id})" class="btn btn-info btn-xs"><i class="fa fa-plus"></i> Add</a></td>
                                    <td style="text-align:center"><a href=@Url.Action("CustomerDetail","DealerCustomer",new { id = custwlt.objcust.id})><input type="Button" value="View" style="background-color: deepskyblue;color: white;width: 74px;height: 30px;"></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


